<section class="position-relative py-48" style="height: 90vh; background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1534224563519-fea04849cadf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80'); background-repeat: no-repeat; background-size: cover; background-position: center;">
  <div class="position-relative container h-100 text-center d-flex flex-column align-items-center justify-content-center">
    <h2 class="my-4 text-white"> I'm the Preview Page for <%= @workshop.shortname %></h2>
    <h6 class="my-4 text-white"><%= @workshop.summary %></h6>
    <div class="text-center">
          <a class="btn btn-primary" style="margin-top: 200px;" href="#">Enroll Now</a>
    </div>
  </div>
</section>

<section class="overflow-hidden py-5 bg-light">
  <div class="container">
    <div class="row align-items-center mb-5 mb-lg-0">
      <div class="col-12 col-lg-5 mb-5 mb-lg-0">
        <%# <h2 class="mb-5">Webinar 1</h2> %>
        <h6 class="mb-5 lead lh-lg text-muted">Summary</h6>
        <p class="mb-5 lead lh-lg text-muted">A very clear and concise summary of the workshop</p>
        <div class="d-flex align-items-center mb-5">
          <svg class="me-4" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 40H40" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M8 40V34L34 8L40 14L14 40H8Z" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M34 20L28 14" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          <div>
            <p class="mb-0">Key Content/Learning 1</p>
          </div>
        </div>
        <div class="d-flex align-items-center mb-5">
          <svg class="me-4" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M24 44C24 44 40 36 40 24V10L24 4L8 10V24C8 36 24 44 24 44Z" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M16 23L22 29L34 17" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          <div>
            <p class="mb-0">Key Content/Learning 2</p>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <svg class="me-4" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M24 30C27.866 30 31 26.866 31 23C31 19.134 27.866 16 24 16C20.134 16 17 19.134 17 23C17 26.866 20.134 30 24 30Z" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M42 23.9999C42.006 28.6858 40.1784 33.188 36.908 36.5439C35.2324 38.2726 33.2261 39.6466 31.0086 40.5839C28.791 41.5212 26.4075 42.0028 24 41.9999C21.5925 42.0028 19.209 41.5212 16.9914 40.5839C14.7739 39.6466 12.7676 38.2726 11.092 36.5439C9.03644 34.4289 7.53208 31.8412 6.71122 29.0084C5.89036 26.1756 5.77815 23.1845 6.38447 20.2982C6.99079 17.4119 8.29705 14.7188 10.1884 12.4557C12.0797 10.1927 14.4981 8.42902 17.2309 7.3199C19.9638 6.21079 22.9273 5.79018 25.8608 6.09507C28.7943 6.39996 31.608 7.42102 34.0543 9.06843C36.5006 10.7158 38.5047 12.9391 39.8902 15.5428C41.2757 18.1464 42.0002 21.0506 42 23.9999V23.9999Z" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M11.092 36.544C12.5768 34.5144 14.5197 32.8639 16.7627 31.7268C19.0056 30.5897 21.4853 29.9981 24 30C26.5148 29.9981 28.9945 30.5897 31.2374 31.7268C33.4804 32.8639 35.4233 34.5144 36.908 36.544" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          <div>
            <p class="mb-0">Key Content/Learning 3</p>
          </div>
        </div>
      </div>
        <div class="col-lg-2"></div>
      <div data-controller="vidcontrol" class="position-relative col-12 col-lg-5" style="height: 28rem; background-image: url('https://images.unsplash.com/photo-1534224563519-fea04849cadf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80'); background-repeat: no-repeat; background-size: cover; background-position: center;">
        <a href= "javascript:;" data-action="click->vidcontrol#play" >
          <div data-vidcontrol-target="linkbtn" class="position-absolute top-0 start-0 w-100 h-100 bg-dark d-flex align-items-center justify-content-center " style="opacity: 75%;">
              <i class="fa-regular fa-circle-play text-white opacity-50" style="font-size: 100px;"></i>
          </div>
        </a>
        <div data-vidcontrol-target="video" style="padding:60.69% 0 0 0;position:relative; left: 50%; top: 50%; transform: translateX(-50%)translateY(-50%); display:none;">
          <iframe id="my-iframe" src="https://player.vimeo.com/video/740325291?h=b5efb52e53&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="New Recording - 8/17/2022, 1:08:13 PM"></iframe>
        </div>
        <script src="https://player.vimeo.com/api/player.js"></script>
      </div>
    </div>
  </div>
</section>

<section class="spacer border-top border-primary">
</section>

<section class="py-5">
  <div class="container">
    <div class="row text-center">
      <h6 class="mb-5 lead lh-lg text-muted">Workshop Curriculum</h6>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
            <div class="accordion col-lg-8" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Item #1
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Item #2
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Item #3
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</section>

<section class="py-5 bg-primary">
  <div class="container">
    <div class="mw-4xl mx-auto text-center">
      <%# <h2 class="mt-3 text-white">Enroll Now</h2>
      <p class="mb-6 mw-2xl mx-auto lead text-light">Select your course package</p>
      <div class="btn-group btn-group-toggle my-4" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> Package 1 <%= humanized_money_with_symbol(@workshop.price)
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option2" autocomplete="off"> Package 2 $59
        </label>
      </div>
      <br>
      <a class="btn btn-secondary d-block d-md-inline-block my-3" href="/consultations">Enroll</a> %>
      <%= form_with url: orders_path do %>
        <%= hidden_field_tag 'workshop_id', @workshop.id %>
        <%= submit_tag "Enroll for #{humanized_money_with_symbol(@workshop.price)}", class: 'btn btn-secondary d-block d-md-inline-block my-3' %>
      <% end %>


    </div>
  </div>
</section>
