<div class="container">
  <div class="row py-4">
    <div class="col">
      <div class="row text-center">
        <h1>Schedule A Consultation</h1>
      </div>
      <div class="row py-5">
        <div class="col-lg-2">
          <%= form_with do |form| %>
            <%= form.label "Consult Category" %>
            <%= form.select :category, ['1', '2', '3'], selected: @category  %>
            <%= form.submit "Select Category", data: { turbo: false }, class: "btn btn-secondary" %>
          <% end %>
        </div>

        <% if params[:category] %>
          <section>
            <div class="form-group">
              <label for="textarea1">Please provide additional background information if needed:</label>
              <textarea class="form-control" id="textarea1" rows="3"></textarea>
            </div>
            <div class="col-lg-9" data-controller="conscalendar">
              <%= form_with model: Consultation.new, authenticity_token: true do |f| %>
                <%= f.label :date_time, "Select a date:" %>
                <%= f.text_field :date_time,
                  data: {
                    behavior: "flatpickr",
                  } %>
              <% end %>
            </div>
            <div class="col-lg-2"></div>
          </section>
        <% end %>
      </div>
      <table class="table text-center" style="display:none">
        <thead>
          <tr>
            <th scope="col">AM</th>
            <th scope="col">PM</th>
          </tr>
        </thead>
        <tbody>
            <% btn_time = Time.parse("11:00 PM") - 1.day%>
            <% 12.times do %>
              <% btn_time += 3600%>
              <tr>
                <td style="padding-bottom: 0px;padding-top: 0px;">
                <%= form_with model: [:user, @consultation], authenticity_token: true do |f| %>
                    <%= hidden_field :datatime, value: "#{btn_time.to_s[0...-6]}" %>
                    <%= hidden_field :consulting_category, value: @category %>
                    <%= hidden_field :notes, value: nil %>
                    <%= f.submit "Book #{btn_time.strftime('%I:%M %p')}", data: { turbo: false }, class: "btn btn-primary consultbtn", style: "margin: 0.2rem; padding: 0.2rem; display:none" %>
                <% end %>
                </td>
                <td style="padding-bottom: 0px;padding-top: 0px;">
                <% btn_time_pm = btn_time + 12.hour%>
                <%= form_with model: [:user, @consultation], authenticity_token: true do |f| %>
                    <%= hidden_field :datatime, value: "#{btn_time_pm.to_s[0...-6]}" %>
                    <%= hidden_field :consulting_category, value: @category %>
                    <%= hidden_field :notes, value: nil %>
                    <%= f.submit "Book #{btn_time_pm.strftime('%I:%M %p')}", data: { turbo: false }, class: "btn btn-primary consultbtn", style: "margin: 0.2rem; padding: 0.2rem; display:none" %>
                <% end %>
                </td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
