<nav class="position-relative navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/home">
      <%= image_tag "logo_w_bg.png", alt: "Bright Futures Logo", style: "width: 8rem;"%>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="d-none d-lg-flex position-absolute top-50 start-50 translate-middle navbar-nav">
      <li class="nav-item nav-link"> <%= link_to "Families", "#{home_path}#fs" %> </li>
      <li class="nav-item nav-link"> <%= link_to "Educators", "#{home_educators_path}#es" %> </li>
    </ul>
    <div class="d-none d-lg-block">
      <a class="btn me-2 btn-primary text-white text-decoration-none" href="/workshops"> <i class="fa-solid fa-magnifying-glass"></i> Find A Workshop</a>
      <% if user_signed_in? %>
        <div class="btn btn-secondary text-white rounded-circle justify-content-center align-items-center" id="navbarDropdown" data-bs-toggle="dropdown" style= "height: 2.4rem;width: 2.4rem;margin: 0;padding-left: 0px;padding-right: 0px;">
          <%=current_user.first_name[0].capitalize+current_user.last_name[0].capitalize%>
        </div>
        <% if @cart.size >= 1  %>
          <span class="badge badge-notify" style="font-size:10px;"><%= @cart.size %></span>
        <% end %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to("https://learning.brightfutures.net", :class=>"dropdown-item") do %>
            <p><i class="fa-solid fa-book-open"></i> Learning Hub</p>
          <% end %>
          <%= link_to(account_path, :class=>"dropdown-item") do %>
            <p><i class="fa-regular fa-circle-user"></i> My Account</p>
          <% end %>
          <%= link_to(destroy_user_session_path, :class=>"dropdown-item", :method=>"Delete") do %>
            <p><i class="fa-solid fa-right-from-bracket"></i> Log out</p>
          <% end %>
          <% if @cart.size >= 1  %>
            <%= link_to(cart_path, :class=>"dropdown-item") do %>
              <p><i class="fa-solid fa-cart-shopping"></i> My Cart</p>
            <% end %>
            <span class="badge badge-notify cart-badge" style="font-size:10px;"><%= @cart.size %></span>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="btn btn-secondary"> <%= link_to "Sign In",  new_user_session_path, :class=>"text-white text-decoration-none" %> </div>
      <% end %>
    </div>
  </div>
</nav>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto d-flex align-items-end p-3">
    <li class="nav-item nav-link"> <%= link_to "Families", "#{home_path}#fs", :class=>"small text-muted text-decoration-none" %> </li>
    <li class="nav-item nav-link"> <%= link_to "Educators", "#{home_educators_path}#es", :class=>"small text-muted text-decoration-none" %> </li>
    <li class="nav-item nav-link border-top align-self-center"></li>
    <li class="nav-item nav-link">
      <a class="btn btn-primary text-white text-decoration-none" href="/workshops"> <i class="fa-solid fa-magnifying-glass"></i> Find A Workshop</a>
    </li>
    <li class="nav-item nav-link">
      <a class="btn btn-primary text-white text-decoration-none" href="https://learning.brightfutures.net"> <i class="fa-solid fa-book-open"></i> Learning Hub</a>
    </li>
    <% if user_signed_in? %>
      <li class="nav-item nav-link border-top align-self-center"></li>
      <li class="nav-item nav-link">
        <%= link_to(account_path, :class=>"small text-muted text-decoration-none") do %>
          <p><i class="fa-regular fa-circle-user"></i> My Account</p>
        <% end %>
      </li>
      <li class="nav-item nav-link">
        <%= link_to(destroy_user_session_path, :class=>"small text-muted text-decoration-none", :method=>"Delete") do %>
          <p><i class="fa-solid fa-right-from-bracket"></i> Log out</p>
        <% end %>
      </li>
      <li class="nav-item nav-link">
        <% if @cart.size >= 1  %>
          <%= link_to(cart_path, :class=>"small text-muted text-decoration-none") do %>
            <p><i class="fa-solid fa-cart-shopping"></i> My Cart</p>
          <% end %>
          <span class="badge badge-notify cart-badge-mobile" style="font-size:10px;"><%= @cart.size %></span>
        <% end %>
      </li>
    <% else %>
      <li class="nav-item nav-link">
        <div class="btn btn-secondary"> <%= link_to "Sign In",  new_user_session_path, :class=>"text-white text-decoration-none" %> </div>
      </li>
    <% end %>
  </ul>
</div>
