<div class="container">
  <div class="row py-4">
    <%# <div class="col-md-3"><%= image_tag @order.teddy.photo_url, width: '100%'</div> %>
    <div class="col">
      <div class="row py-3">
        <h1>Order <%= @order.state %>!</h1>
      </div>
      <div class="row py-3">
        <ul class="list-unstyled">
          <li><strong>Issued On</strong> <%= @order.created_at.to_date %></li>
          <%# <li><strong>WORKSHOP</strong> <%= @order.workshops.first.shortname</li> %>
          <li><strong>Total</strong> <%= humanized_money_with_symbol @order.amount %></li>
          </li>
        </ul>
      </div>
      <div class="row py-3">
        <p>You now have access to the <a href="https://learning.brightfutures.net">Bright Futures Learning Platform</a>!</p>
        <p>Your login credentials are:</p>
        <ul class="list-unstyled">
          <li><strong>Username:</strong> <%= current_user.email %></li>
          <li><strong>Password:</strong> <%= current_user.moodle_password %></li>
          </li>
        </ul>

        <p>You can always find these credentials on your <%= link_to "accounts page", account_path %>.</p>

      </div>
    </div>
  </div>
</div>
