<div class="container">
  <div class="row py-4">
    <%# <div class="col-md-3"><%= image_tag @order.teddy.photo_url, width: '100%'</div> %>
    <div class="col">
      <h1>Order #<%= @order.id %></h1>
      <p><%= @order.state %><p>
      <ul class="list-unstyled">
        <li><strong>ISSUED ON</strong> <%= @order.created_at.to_date %></li>
        <%# <li><strong>WORKSHOP</strong> <%= @order.workshops.first.shortname</li> %>
        <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @order.amount %></li>
        </li>
      </ul>
    </div>
  </div>
</div>
