<!DOCTYPE html>
<html>
  <head>
    <title>Bright Futures</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'bf_favicon.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# @force_refresh = true to refresh page for stripe payment. Workaround for turbolinks reload %>
    <% if @force_refresh %>
      <meta name="force-refresh" content="<%= Time.zone.now.to_i %>" data-turbo-track="reload">
    <% end %>
  </head>

  <body>
    <%= yield %>
    <%= turbo_frame_tag "cookies" do %>
      <% if user_signed_in? %>
        <div></div>
      <% elsif session[:cookies_accepted].nil? %>
        <section class="cookies-modal position-fixed p-4 m-2 bottom-0 start-0 border shadow" style="z-index: 50; background:#fffbff">
          <h4 class="mb-4 text-secondary">Cookie Policy</h4>
          <p class="mb-4 lead lh-lg text-secondary" style="opacity: 75%;" contenteditable="true">We use cookies to personalise content, to provide social media features and to analyse our traffic.</p>
          <%= link_to "Allow", cookies_path(cookies: true), :class=>"btn btn-secondary me-4" %>
        </section>
      <% end %>
    <% end %>
    <%= render "shared/flashes" %>
  </body>
</html>
