<!DOCTYPE html>
<html>
  <head>
    <title>Bright Futures</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'bf_favicon.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/" data-turbolinks-track='reload' data-turbolinks-eval="false" data-turbolinks="false" data-turbo-cache="false"></script>
    <% if @force_refresh %>
      <meta name="force-refresh" content="<%= Time.zone.now.to_i %>" data-turbo-track="reload">
    <% end %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
    <%= render "shared/footer" %>
    <%= render "shared/flashes" %>
  </body>
</html>
